$font-family: 'Inter', sans-serif;
$primary-color: #1952e1;
$primary-white: #fff;
$text-color: #1a1a1a;
$tab-text-color: #33373c;
$secondary-color: #9a9da4;
$placeholder-color: #63666e;
$background-color: #e5e5e5;
$font-size-lg: 2.4rem;
$font-size-md: 1.8rem;
$font-size-sm: 1.4rem;
$font-size-sm-1: 1.2rem;
