@import 'variables';

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;

  & p {
    margin-bottom: 0;
  }

  & h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
